<h2>Редактировать профиль</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label 'Электронная почта' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ожидается подтверждение: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label 'Новый пароль'%> <i>(оставьте поле пустым, если не меняете пароль)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>Минимум <%= @minimum_password_length %> символов</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label 'Подтверждение пароля' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label 'Текущий пароль' %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить" %>
  </div>

<% end %>

<br><br>
<div> <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Подтвердите удаление аккаунта", turbo_confirm: "Подтвердите удаление аккаунта" }, method: :delete %></div>

<%= link_to "Ветнуться", :back %>
