<%= form_with(model: group, class: 'form-group') do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Название", style: "display: block"%>
    <%= form.text_field :name, class: 'form-control'  %>
  </div>

  <div>
    <%= form.label :description, "Описание",  style: "display: block" %>
    <%= form.text_area :description, class: 'form-control'  %>
  </div>

  <div>
    <%= form.label :country, "Страна", style: "display: block"  %>
    <%= form.collection_select(:country_id, Country.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :region, "Регион", style: "display: block" %>
    <%= form.collection_select(:region_id, Region.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :city, "Город",  style: "display: block" %>
    <%= form.collection_select(:city_id, City.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :music_genres, "Музыкальные жанры",  style: "display: block" %>
    <% MusicGenre.all.each do |genre| %>
      <div class="form-check">
        <%= check_box_tag "group[group_genres_attributes][][genre_id]", genre.id, group.genres.include?(genre),
          class: 'form-check-input', type: 'checkbox'%>
        <label class="form-check-label">
          <%= genre.name%>
        </label>
      </div>
    <% end %>
  </div>

  <!-- Leader's instrument -->
  <div>
    <%= form.collection_select(:leader_instrument_id, current_user.musical_instruments, :id, :name, prompt: ' ', multiple: false) %>
    <%= form.label :leader_instrument_id, "Ваш музыкальный инструмент" %>
  </div>

  <div>
    <% MusicalInstrument.all.each do |instrument| %>
      <div>
        <%= form.label "", instrument.name %> 
        <%= form.number_field "instrument_quantities[#{instrument.id}]",
              value: form.object.group_instrument_requirements.find_by(instrument_id: instrument.id)&.quantity, class: 'form-control'  %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Создать"%>
  </div>
<% end %>

  

