<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :leader, style: "display: block" %>
    <%= form.number_field :leader %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :members_number, style: "display: block" %>
    <%= form.number_field :members_number %>
  </div>

  <div>
    <%= form.label :music_genres, style: "display: block" %>
    <% MusicGenre.all.each do |genre| %>
      <label>
        <%= check_box_tag "group[genre_ids][]", genre.id, group.genres.include?(genre) %>
        <%= genre.name %>
      </label>
    <% end %>
  </div>

  <div id="instrument-requirements-container">
    
  </div>

  <%= link_to "Add Instrument Requirement", "#", class: "add-instrument-requirement" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
