<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :members_number, style: "display: block" %>
    <%= form.number_field :members_number %>
  </div>

  <div>
    <%= form.label :music_genres, style: "display: block" %>
    <% MusicGenre.all.each do |genre| %>
      <label>
        <%= check_box_tag "group[group_genres_attributes][][genre_id]", genre.id, group.genres.include?(genre) %>
        <%= genre.name %>
      </label>
    <% end %>
  </div>

  <!-- Leader's instrument -->
  <div>
    <%= form.collection_select(:instrument_ids, current_user.musical_instruments, :id, :name, { include_hidden: false, prompt: '' }, multiple: false) %>
    <%= form.label :instrument_ids, "Select Your Instrument" %>
  </div>

  <div>
    <% MusicalInstrument.all.each do |instrument| %>
      <div>
        <%= form.label "", instrument.name %> 
        <%= form.number_field "instrument_quantities[#{instrument.id}]",
              value: form.object.group_instrument_requirements.find_by(instrument_id: instrument.id)&.quantity %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

  

