<div id="<%= dom_id group %>">
  <p>
    Название:
    <%= group.name %>
  </p>

  <p>
    Лидер:
    <%= group.leader.name %>
  </p>

  <p>
    Описание:
    <%= group.description %>
  </p>

  <p>
    Музыкальные жанры:
    <ul>
      <% group.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    Необходимые инструменты:
    <ul>
      <% group.group_instrument_requirements.each do |requirement| %>
        <li><%= requirement.instrument.name %> - <%= requirement.quantity%></li>
      <% end %>
    </ul>
  </p>

  <p>Состав:</p>
  <ul>
    <% group.memberships.each do |membership| %>
      <li>
        <%= membership.instrument.name%>
        <% if membership.group.leader_id == current_user&.id || current_user.groups.include?(membership.group)%>
          <p>
            <%= membership.musician.name %> - <%= membership.musician.email%>, <%= membership.musician.phone_number%>
          <p>
        <%end%>
      </li>
    <% end %>
  </ul>

<p>
  <%is_member = GroupMembership.where(group_id: group.id, musician_id: current_user&.id).present? %>
  <% if user_signed_in? && !is_member && group.leader_id != current_user&.id%>
    <%= link_to 'Вступить в группу', requests_new_path({group_id: group.id}), method: :get%>
  <%elsif is_member && group.leader_id != current_user&.id%>
    <p><b>Вы являетесь участником этой группы</b></p>
    <%=button_to 'Выйти из группы', leave_group_path(group_id: group.id, musician_id: current_user&.id), class: 'btn btn-dark'%>
  <%end%>

  <%if current_user.blank?%>
    <%= link_to 'Вступить в группу', new_user_session_path, method: :get%>
  <%end%>
</p>

</div>
