<div id="<%= dom_id group %>">
  <p>
    <strong>Название:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Лидер:</strong>
    <%= group.leader.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= group.description %>
  </p>

  <p>
    <strong>Жанры музыки:</strong>
    <ul>
      <% group.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Необходимые инструменты:</strong>
    <ul>
      <% group.required_instruments.each do |instrument| %>
        <li><%= instrument.name %></li>
      <% end %>
    </ul>
  </p>

  <p>Состав:</p>
  <ul>
    <% group.memberships.each do |membership| %>
      <li><%= membership.musician.name %> - <%= membership.instrument.name%></li>
    <% end %>
  </ul>

  <p>
    <%= link_to 'Вступить в группу', requests_new_path({group_id: group.id}), method: :get%>
  </p>
</div>
