<p style="color: green"><%= notice %></p>

<h1>Группы</h1>

<div id="create_new_group">
  <%= link_to "Собрать группу", new_group_path, class: 'btn glow-on-hover', style:'color:white;font-size:18px'%>
</div>

<%= form_with(url: groups_path, method: "get", local: true) do |form| %>
  <div class="form-container">
    <div class="form-section">
      <%= form.label :musical_instrument_id, "Музыкальный инструмент" %>
      <%= form.collection_select :musical_instrument_id, MusicalInstrument.all, :id, :name, prompt: "" %>
    </div>
    <div class="form-section">
      <%= form.label :music_genre_id, "Жанр музыки" %>
      <%= form.collection_select :music_genre_id, MusicGenre.all, :id, :name, prompt: "" %>
    </div>
    <div class="form-section">
      <%= form.label :country_id, "Страна" %>
      <%= form.collection_select :country_id, Country.all, :id, :name, prompt: "" %>
    </div>
    <div class="form-section">
      <%= form.label :region_id, "Регион" %>
      <%= form.collection_select :region_id, Region.all, :id, :name, prompt: "" %>
    </div>
    <div class="form-section">
      <%= form.label :city_id, "Город" %>
      <%= form.collection_select :city_id, City.all, :id, :name, prompt: "" %>
    </div>
    <div class="form-section">
      <%= form.submit "Найти", class: 'filter-button' %>
      <%= button_tag "Сбросить", type: 'reset', class: 'filter-button btn clear-button' %>
    </div>
  </div>
<% end %>

<div id="groups">
  <% @groups.each do |group| %>
    <div id="<%= dom_id group %>" class = "group">
      <%= render group %>
      <p>
        <%= link_to "Подробнее", group %>
      </p>
      <p>
        <%= link_to 'Вступить в группу', musician_request_path({group_id: group.id}), method: :get%>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Собрать группу", new_group_path %>
