<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="create_new_group">
  <%= link_to "NEW GROUP", new_group_path, class: 'btn glow-on-hover', style:'color:white;font-size:20px'%>
</div>

<div id="groups">
  <% @groups.each do |group| %>
    <div id="<%= dom_id group %>" class = "group">
      <%= render group %>
      <p>
        <%= link_to "Show this group", group %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
