<h1> Вы отправляете запрос на вступление в группу <%= @group&.name %></h1>
<p> Сперва ознакомьтесь с группой и выберите инструмент, на котором вы хотели бы играть в группе. Организвтор группы рассмотрит вашу заявку и вы получите результаты на почту.</p>
<%= form_with(url: send_request_path, method: :post) do |form| %>
  <div class="form-container">
    <div>
      <%= form.collection_select(:instrument_id, current_user.musical_instruments, :id, :name, { include_hidden: false, prompt: '' }, multiple: false) %>
      <%= form.label :instrument_id, "Ваш музыкальный инструмент" %>
    </div>
    <%= form.hidden_field :musician_id, value: current_user.id %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.submit "Отправить запрос" %>
  </div>
<% end %>

