<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%if current_user.id == @group.leader_id%>
    <%= link_to "Редактировать группу", edit_group_path(@group) %> |
  <%end%>
  <%= link_to "Вернуться к просмотру групп", groups_path %>

  <%if current_user.id == @group.leader_id%>
    <%= button_to "Расформировать группу", @group, method: :delete %>
  <%end%>
</div>
