<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Редактировать группу", edit_group_path(@group) %> |
  <%= link_to "Вернуться к просмотру групп", groups_path %>

  <%= button_to "Удалить группу", @group, method: :delete %>
</div>
