<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Имя", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname, "Фамилия", style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :birthday, "Дата рождения", style: "display: block" %>
    <%= form.date_field :birthday %>
  </div>

  <div>
    <%= form.label :country, "Страна", style: "display: block"  %>
    <%= form.collection_select(:country_id, Country.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :region, "Регион", style: "display: block" %>
    <%= form.collection_select(:region_id, Region.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :city, "Город",  style: "display: block" %>
    <%= form.collection_select(:city_id, City.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :musician_instruments, "Музыкальные инструменты", style: "display: block" %>
    <% MusicalInstrument.all.each do |instrument| %>
      <label>
        <%= check_box_tag "user[musical_instrument_ids][]", instrument.id, user.musical_instruments.include?(instrument) %>
        <%= instrument.name %>
      </label>
    <% end %>
  </div>

  <div>
    <%= form.label :music_genres, "Музыкальные жанры", style: "display: block" %>
    <% MusicGenre.all.each do |genre| %>
      <label>
        <%= check_box_tag "user[genre_ids][]", genre.id, user.genres.include?(genre) %>
        <%= genre.name %>
      </label>
    <% end %>
  </div>

  <div>
    <%= form.label :has_concert_experience, "Имеется концертный опыт", style: "display: block" %>
    <%= form.check_box :has_concert_experience %>
  </div>

  <div>
    <%= form.label :career_start_year, "Год начала музыкальной карьеры", style: "display: block" %>
    <%= form.select :career_start_year, (Time.current.year - 100..Time.current.year).to_a.reverse, prompt: 'Select a year'  %>
  </div>

  <div>
    <%= form.submit "Сохранить"%>
  </div>
<% end %>
