<div id="<%= dom_id user %>">
  <p>
    <strong>Имя:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Фамилия:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Музыкальные инструменты</strong>
    <ul>
      <% user.musical_instruments.each do |instrument| %>
        <li><%= instrument.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Музыкальные жанры</strong>
    <ul>
      <% user.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Имеется концертный опыт</strong>
    <%= user.has_concert_experience ? 'Да' : 'Нет' %>
  </p>

  <p>
    <strong>Год начала концертной карьеры</strong>
    <%= user.career_start_year %>
  </p>

  <div>
    <% if user.video.attached? %>
      <video width="320" height="240" controls>
        <source src="<%= rails_blob_path(user.video) %>" type="<%= user.video.content_type %>">
      </video>
    <% end %>
  </div>

  <%if user_signed_in? && current_user&.id != user.id%>
    <div class="dropdown">
      <button class="dropbtn" for="btnControl">Пригласить в группу</button>
      <div class="dropdown-content">
        <% current_user.leading_groups.each do |group|%>
          <%= button_to group.name, send_invitation_mail_path({group_id: group.id, musician_id: user.id})%>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
