<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Musical Instruments:</strong>
    <ul>
      <% user.musical_instruments.each do |instrument| %>
        <li><%= instrument.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Music Genres :</strong>
    <ul>
      <% user.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>has_concert_experience:</strong>
    <%= user.has_concert_experience %>
  </p>

  <p>
    <strong>career start year:</strong>
    <%= user.career_start_year %>
  </p>

  <p>
    <%= link_to "Show this user", user %>
  </p>
  <div class="dropdown">
    <button class="dropbtn" for="btnControl">Invite to group</button>
    <div class="dropdown-content">
      <% current_user.leading_groups.each do |group|%>
        <%= button_to group.name, add_user_to_group_path({group_id: group.id, musician_id: user.id})%>
      <%end%>
    </div>
  </div>
</div>
