<!DOCTYPE html>
<html>
  <head>
    <title>MusicCollab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-xl">
      <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="<%= asset_path('app_icon.png')%>" style="height:50px"></a>
        <div class="tytle"><a class="navbar-brand " href="/">Music Collab</a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav main-links">
            <li class="nav-item">
              <a class="nav-link" href="/groups">Найти группу</a>
            </li>
            <li class="nav-item" style="display:flex;">
              <a class="nav-link" href="/users">Найти музыканта</a>
            </li>
          </ul> 
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <%if user_signed_in?%>
                  <li class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="nav-nick">
                      <img src="<%=asset_path('icon.png')%>",  style="height: 30px;">
                    </a>


                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><%= link_to 'Моя анкета', user_path(current_user.id), method: :get, class: "dropdown-item btn", type: "button", id: "nav-myacc"%></li>
                      <li><%= link_to 'Мои группы', groups_path({user_id: current_user.id, hide_filters: true}), class: "dropdown-item btn", method: :get, type: "button", id: "nav-myacc"%></li>
                      <li><%= link_to 'Приглашения', invitations_path, class: "dropdown-item btn", method: :get, type: "button", id: "nav-myacc"%></li>
                      <li><%= link_to 'Запросы на вступление в группу', requests_path, class: "dropdown-item btn", method: :get, type: "button", id: "nav-myacc"%></li>
                      
                      <li><%= button_to 'Настройки', edit_user_registration_path, class: "dropdown-item btn", method: :get, type: "button", id: "nav-myacc"%></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><%= button_to "Выйти", destroy_user_session_path, method: :delete, class: "dropdown-item btn btn-lg", id: "nav-logout"%></li>
                    </ul>
                  </li>
                  <%else%>
                    <li class="nav-item white">
                      <a class="nav-link" href="<%=new_user_session_path%>">Вход</a></i>
                    </li>
                    <li class="nav-item white">
                      <a class="nav-link" href="<%=new_user_registration_path%>">Регистрация</a></i>
                    </li>
                <%end%>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </header>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
